/*generl*/
html {
  color: var(--text-color-dark);
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

/*page styling*/
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
}


/*frontpage styling*/
.frontimg{
width: 100%;;

}
